body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
table {
  width: 700px;
  height: 200px;
  background-color: #c7af99;
}
